@font-face {
  font-family: Montserrat;
  font-weight: 100;
  src: url('/assets/Montserrat-Thin.ttf');
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url('/assets/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url('/assets/Montserrat-Bold.ttf');
}
