[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "watchmedo auto-restart --pattern \"Source/**/*.py;Source/*.py\" --recursive --signal SIGTERM py ./Source/main.py"