<div fxLayout="column" fxFlex="0 1" fxFill>
  <div fxLayout="row" fxFlex="0 1" fxFill>
    <toolbar-tools fxFlex="50px"></toolbar-tools>
    <div fxLayout="column" fxFlex="0 1" fxFill>
      <toolbar-presets fxFlex="50px"></toolbar-presets>
      <div fxLayout="row" fxFlex="0 1">
        <div fxFlex="0 1" fxFill></div>
        <div fxLayout="row" fxFlex="300px" fxFill>
          <main-palette fxFlex="300px" fxFill></main-palette>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="30px" fxLayout="row">
    <toolbar-status fxFlex="0 1" fxFill></toolbar-status>
  </div>
</div>