<div fxLayout="row" fxLayoutGap="10px" *ngIf="changes$ | async as changes" fxLayoutAlign="space-between center">
  <div fxFlex="0 1">
    <!-- <button ui-button-icon-basic size="lg" [round]="true" (click)="reset()">
      <fa-icon [icon]="iconReset" size="lg"></fa-icon>
    </button> -->
  </div>
  <div fxFlex="0 1" fxLayout="row" fxLayoutGap="20px">
    <div ui-divider></div>
    <slider label="Temperature" [(ngModel)]="temperature" [min]="-127" [max]="127" (ngModelChange)="adjustValues()"></slider>
    <div ui-divider></div>
  </div>
  <div fxFlex="0 1" fxLayoutAlign="flex-end center">
    <confirm-reject [path]="changes.file"></confirm-reject>
  </div>
</div>